body{
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    margin: 0;
    background-color: white;
    color: black;
    font-weight: 400;
    line-height: 1.3;

    .header{
        
        background-color: #F3F3F3;
        padding: 0.25rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.05rem solid #4C0827;

        h1{
            font-size: 2.5rem;
            margin-left: 1rem;
            font-weight: 750;
            
            a{
                text-decoration: none;
                color: black;
            }

            span{
                color: #4C0827;
            }

        }

        ul{
            list-style: none;
            margin-right: 1.5rem;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            a{
                button{
                    font-size: 1.2rem;
                    padding: 0.5rem;
                    background-color: #F3F3F3;
                    border: 0.2rem solid #7D4F50;
                    color: #7D4F50;
                    font-weight: 600;
                    cursor: pointer;
                    &:hover{
                        background-color: #7D4F50;
                        color: white;
                    }
                }
            }
        }

    }

    .content{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            margin-top: 3rem;
            font-size: 2.5rem;
            color: #4C0827;
            margin-bottom: 0;
        }

        p{
            font-size: 1.95rem;
            margin: 0;
        }

        .form-content{

            margin-top: 2rem;

            font-size: 1.95rem;
            display: flex;
            flex-direction: column;
            align-items: left;
            gap: 0.1rem;

            form{

                display: flex;
                flex-direction: row;
                gap: 0.25rem;

                select{
                    font-size: 1.2rem;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    border: 0.05rem solid #4C0827;
                }

                button{
                    font-size: 1.2rem;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    border: 0.075rem solid #4C0827;
                    background-color: #798478;
                    color: black;
                    cursor: pointer;

                    &:hover{
                        background-color: #616a60;
                    }

                }
            }
        }

        .profile{

            background-color: #F3F3F3;
            padding: 3rem;
            margin: 3rem;
            border: 0.05rem solid #4C0827;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            h1{
                    font-size: 2rem;
                    color: black;
                    margin: 0;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
            }
            
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                p{
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin: 0;
                    white-space: pre-line;
                    line-height: 1.7;
                }

                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    button{
                        background-color: #F3F3F3;
                        
                        &:hover{
                            background-color: #9dad9b;
                        }
                    }
                }

                button{
                    font-size: 1.2rem;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    border: 0.075rem solid #4C0827;
                    background-color: #798478;
                    color: black;
                    cursor: pointer;

                    &:hover{
                        background-color: #616a60;
                    }
                }
            }
        }
    }

    .results{
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        margin-left: 15rem;
        margin-right: 15rem;
        margin-bottom: 5rem;

        p{
            margin: 0;
            margin-left: 2rem;
            margin-bottom: 0.25rem;
            font-size: 1.5rem;
        }

        ul{
            margin: 0;
            padding: 1rem;
            font-size: 1.7rem;
            color: black;
            list-style: none;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 4.1rem;
            column-gap: 1rem;


            a{
                text-decoration: none;
                color: black;

                li{
                    padding: 1.5rem;
                    border: 0.075rem solid #4C0827;
                    background-color: #F3F3F3;
                    text-align: left;
                    display: grid;
                    grid-template-columns: 3fr 1fr;;
                    height: 100%;
                    gap: 1rem;
                    width: 30rem;

                    .opportunity-title{
                        display: flex;
                        padding-right: 0.1rem;
                        text-align: center;
                        font-size: 1.25rem;
                    }

                    .opportunity-org{
                        color: #4D6A6D;
                        font-size: 0.75rem;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        border-left: 0.075rem solid #4C0827;
                        padding-left: 1rem;
                        text-align: center;

                        .logo-container{
                            height: 6.5rem;
                            width: 6.5rem;
                            margin-bottom: 1rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 0.05rem solid #4C0827;
                            background-color: white;

                            .org-logo{
                                max-height: 85%;
                                max-width: 85%;
                                object-fit: contain;
                            }
                        }   
                    }
                }
            }  
        }
    }

    .opportunity{

        margin-top: 3rem;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        margin-left: 15rem;
        margin-right: 15rem;

        .opportunity-description{
            
            background-color: #F3F3F3;
            padding: 3rem;
            border: 0.05rem solid #4C0827;

            ol{
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 2.5rem;

                h1{
                    font-size: 2rem;
                    color: black;
                    margin: 0;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                }

                p{
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin: 0;
                    white-space: pre-line;
                    line-height: 1.7;
                }
            }
        }

        .opportunity-org{

            background-color: #F3F3F3;
            padding: 1.75rem;
            border: 0.05rem solid #4C0827;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;

            .logo-container{
                height: 10rem;
                width: 10rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0.05rem solid #4C0827;
                background-color: white;

                .org-logo{
                    max-height: 85%;
                    max-width: 85%;
                    object-fit: contain;
                }
            }

            p{
                color: #4D6A6D;
                font-size: 1rem;
                text-align: center;
            }

            button{
                font-size: 1rem;
                width: fit-content;
                padding: 0.35rem;
                margin-top: 0.5rem;
                background-color: #F3F3F3;
                border: 0.2rem solid #7D4F50;
                color: #7D4F50;
                font-weight: 600;
                cursor: pointer;

                &:hover{
                    background-color: #7D4F50;
                    color: white;
                }
            }

        }
           
    }

    .saved_opportunities{
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        margin-left: 15rem;
        margin-right: 15rem;
        margin-bottom: 5rem;

        p{
            margin: 0;
            margin-left: 2rem;
            margin-bottom: 0.25rem;
            font-size: 1.5rem;
        }

        ul{
            margin: 0;
            padding: 1rem;
            font-size: 1.7rem;
            color: black;
            list-style: none;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 4.1rem;
            column-gap: 1rem;


            a{
                text-decoration: none;
                color: black;

                li{
                    padding: 1.5rem;
                    border: 0.075rem solid #4C0827;
                    background-color: #F3F3F3;
                    text-align: left;
                    display: grid;
                    grid-template-columns: 3fr 1fr;;
                    height: 100%;
                    gap: 1rem;
                    width: 30rem;

                    .opportunity-title{
                        display: flex;
                        padding-right: 0.1rem;
                        text-align: center;
                        font-size: 1.25rem;
                    }

                    .opportunity-org{
                        color: #4D6A6D;
                        font-size: 0.75rem;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        border-left: 0.075rem solid #4C0827;
                        padding-left: 1rem;
                        text-align: center;

                        .logo-container{
                            height: 6.5rem;
                            width: 6.5rem;
                            margin-bottom: 1rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 0.05rem solid #4C0827;
                            background-color: white;

                            .org-logo{
                                max-height: 85%;
                                max-width: 85%;
                                object-fit: contain;
                            }
                        }   
                    }
                }
            }  
        }
    }
}


#flash-messages {
    position: fixed;
    top: 6.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 300px;

    .flash-message {
        padding: 15px;
        margin-bottom: 5px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        opacity: 0.9;
        transition: opacity 0.6s ease-out; // Fade-out effect

        &.alert-success {
            background-color: #d4edda;
            color: #155724;
        }

        &.alert-danger {
            background-color: #f8d7da;
            color: #721c24;
        }

        &.alert-info {
            background-color: #d1ecf1;
            color: #0c5460;
        }
    }

    .closebtn {
        margin-left: 15px;
        color: #aaa;
        font-weight: bold;
        float: right;
        font-size: 20px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: black;
        }
    }
}
