{%extends "base.html"%}


{% block head %}
    <title>Outreach Outlet</title>
{% endblock %}

{% block body %}
    <div class="content" > 

        <h1>Welcome to Outreach Outlet!</h1>
        <p>What type of volunteering would you like to do?</p>

        <form action="" method="POST">
            <select name="current_category" required>
                <option value="" disabled selected>Select a type</option>
                {% for category in categories %}
                    <option value="{{category}}">{{ category }}</option>
                {% endfor %}
            </select>
            <button type="submit">Submit</button>
        </form>

    </div>
{% endblock %}

