{%extends "base.html"%}

{% block head %}
    <title>Outreach Outlet</title>
{% endblock %}

{% block body %}

<div class="content">

    <div class="opportunity">

        <div class="opportunity-description">
            <ol>
                <h1>{{opportunity.title}}</h1>
                <p>{{opportunity.description}}</p>
            </ol>
        </div>

        <div class="opportunity-org">
            <div class="logo-container">
                <img src="{{opportunity.org_logo}}" alt="{{opportunity.company}} logo" class="org-logo">
            </div>
            <p>{{opportunity.organization}}</p>
            <a href="/remove_opportunity/{{opportunity.id}}"><button>Remove from list</button></a>
        </div>
        
        

    </div>

</div>

{% endblock %}